main {
    min-height: 80vh;
    margin: 2rem;
}
h3 {
    padding: 1rem 0;
}
h1 {
    font-size: 1.6rem;
    padding: 1rem 0;
}
h2 {
    font-size: 1.1rem;
    padding: 0.5rem 0;
}

.rating span {
    margin: 0.1rem;
}
.signinbtn {
    margin: 1rem 0;
}
